@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$font: #FFF056;
$background: #191919;

body {
  background: $background;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

#container {
  height: 100vh;
}

.rules,
.app,
#container {
  display: flex;
  justify-content: center;
}

#container,
.app {
  align-items: center;
}

.app {
  flex-direction: column;
  height: 400px;
  
  ul {
    padding: 0;
  }
  
  li {
    color: $font;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 16px;
    margin: 5px;
  }
  .passed {
    color: rgba(white, 0.3);
    transition: 0.4s all;
    text-decoration: line-through;
  }
  .missing {
    color: $font;
    transition: 0.4s all;
  }
}

.rules {
  width: 330px;
}

input,
button {
  border: none;
  outline: none;
}

input {
  background: none;
  width: 260px;
  border-bottom: 3px solid $font;
  color: white;
  font-size: 27px;
  transition: 0.4s all;
  text-align: center;
  &:focus {
    width: 330px;
    transition: 0.4s all;
  }
}

::placeholder {
  color: rgba(white, 0.4);
  ;
}

button {
  background: $font;
  width: 120px;
  height: 30px;
  font-size: 15px;
  color: $background;
  border-radius: 4px;
  transition: 0.4s all;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    transition: 0.4s all;
  }
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 13px;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  color: rgba(white, 0.6);
  a {
    color: $font;
  }
}